.loginButton {
    float:none;
    position:static;
    display:block;
    margin:auto;
    width:max-content;
}

body {
    background: linear-gradient(120.37deg, #19314B 0%, #155F86 100%);
} 

.home-title{
    /* margin-left: 100px; */
    font-size: 40px;
    font-weight: 500;
    color: #2f95c0;
    float:none;
    position:static;
    display:block;
    margin:auto;
    width:max-content;
}

.home-container {
    /* background-color: #E5E5E5; */
    height: 100vh;
}