body {
    background-color: whitesmoke;
}

p {
    text-align: center;
    color: whitesmoke;
    font-size: larger;
}

.honorcode-container {
    flex: 1;
    justify-content: center;
    align-items: center;
  }