.Card-container {
  border: var(--darkgrey) 1px solid;
  border-radius: var(--xs);
  margin-top: var(--m);
  background-color: #c4c4c4;
}

.Card-container:first-of-type {
  margin-top: var(--l);
}

.Card-question,
.Card-answerSection {
  padding: var(--m) var(--l);
  color: #19314B;
  border-style: solid 2px;
}

.Card-questionUser {
  font-size: 20px;
  font-weight: 600;
  color: #19314B;
}

.Card-questionContent {
  font-size: 40px;
  margin: var(--s) 0 0;
  text-align: left;
  color: #19314B;
}

.Card-answerSection {
  background-color: var(--grey);
  border-top: 1px solid var(--darkgrey);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.Card-answerBody {
  margin: 0 0 var(--s);
}

html {
  background-color: #E5E5e5;
}
