.NavBar-container {
    padding: var(--s) var(--m);
    background-color: #185566;
    height: 35px;
    padding: 15px;
  }
  
  .NavBar-title {
    color: var(--white);
    font-size: 35px;
  }
  
  .NavBar-linkContainer {
    margin-left: var(--l);
    float: right;
  }
  
  .NavBar-link,
  .NavBar-link:visited {
    color: var(--white);
    opacity: 0.6;
    text-decoration: none;
    font-size: 25px;
  }
  
  .NavBar-link:hover {
    opacity: 0.8;
  }
  
  .NavBar-link.NavBar-login {
    opacity: 1;
  }
  
  .NavBar-link + .NavBar-link {
    margin-left: var(--m);
  }
  